<h1>My Assigned Tasks List</h1>

<table border="1" width="100%">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Board</th>
    <th>Status</th>
    <th>Attachment</th>
    <th></th>

  </tr>
  <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= task.name %>
        </td>
        <td>
          <%= task.description[0..100] %>...

        </td>
        <td>
          <%= task.board.name %>

        </td>
        <td>
            <%=form_for task, :url => task_url(task), :html => {:method => :put} do |f| %>
                <%= f.collection_select :status, [['TODO','TODO'],['DOING','DOING'],['DONE','DONE']], :first, :last, {}, {:onchange => "this.form.submit()"} %>
            <% end %>
        </td>

        <td>
          <%= link_to task.doc.original_filename, task.doc.url if task.doc.present? %>
        <td>
          <%= link_to "Show", task_url(task) %>
        </td>
      </tr>
  <% end %>
</table><br>
<%= will_paginate @tasks %><br>