<h1>New Task</h1><br>
<%= form_for @task, {:url => tasks_url, :html => {:method => :post}} do |f|  %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br /><br />
    <%= f.label :description %>
    <%= f.text_area :description, :style => "width: 300px; height: 100px;" %> <br /><br />
    <%= f.hidden_field :board_id %>
    <%= f.file_field :doc %>
    <br /><br />
    <fieldset>
      <legend><strong>Assignment</strong></legend>
      <% User.all.each do |user| %>
          <input type="checkbox" value="<%= user.id%>" name="task[user_ids][]" <%= 'checked="checked"' if @task.users.include?(user) %> >  <%= user.email %> <br />
      <% end %>
    </fieldset>

    <%= f.submit  %>
<% end %>

