<h1>My Board List</h1>

<table width="100%" class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  <% @boards.each do |board| %>
     <tr>
       <td>
         <%= link_to board.name, tasks_url(:board_id => board.id), :class => 'board-title' %>
       </td>
       <td>
         <%= board.description[0..100] %> ...
       </td>
       <td style="width: 30%;">
         <%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit'.html_safe, edit_board_url(board), {:class => 'btn btn-success action'} %>
         <%= link_to '<i class="glyphicon glyphicon-eye-open"></i> Show'.html_safe, board_url(board), :class => 'btn btn-info action' %>
         <%= link_to '<i class="glyphicon glyphicon-trash"></i> Delete'.html_safe, board_url(board), :method => :delete, :confirm => "Sure to delete?", :class => 'btn btn-danger action' %>
       </td>
     </tr>
  <% end %>
</table>